################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/auth/auth/.vs/auth
/auth/auth/bin/Debug/net8.0
/auth/auth/obj
/auth/auth/.vs/ProjectEvaluation
/backend/RestBook.Reservas/obj/Release/net9.0
frontend/Dockerfile
frontend/nginx.conf
