<div class="admin-bg">
  <div class="admin-card">
    <ng-container *ngIf="!isBookingsRoute()">
      <h2>Usuarios Registrados</h2>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Staff</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usuarios">
            <td>{{ u.firstName }}</td>
            <td>{{ u.lastName }}</td>
            <td>{{ u.email }}</td>
            <td>{{ u.mobilePhoneNumber }}</td>
            <td>{{ u.isStaff ? 'Sí' : 'No' }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
    <ng-container *ngIf="isBookingsRoute()">
      <h2>Reservas Realizadas</h2>
      <table class="styled-table">
        <thead>
          <tr>
            <th>Mesa</th>
            <th>Hora</th>
            <th>Fecha</th>
            <th>Personas</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of mesas">
            <td>{{ r.mesa }}</td>
            <td>{{ r.hora }}</td>
            <td>{{ r.fecha }}</td>
            <td>{{ r.personas }}</td>
            <td>{{ r.usuario }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="isBookingsRoute()">
  <h2>Reservas Realizadas</h2>
  <table class="styled-table">
    <thead>
      <tr>
        <th>Mesa</th>
        <th>Hora</th>
        <th>Fecha</th>
        <th>Personas</th>
        <th>Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of mesas">
        <td>{{ r.mesa }}</td>
        <td>{{ r.hora }}</td>
        <td>{{ r.fecha }}</td>
        <td>{{ r.personas }}</td>
        <td>{{ r.usuario }}</td>
      </tr>
    </tbody>
  </table>
</ng-container>
