
.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 40px 30px 30px 30px;
  box-shadow: var(--shadow);
  text-align: center;
  border-radius: var(--border-radius);
  background: var(--background);
}

h1 {
  margin-bottom: 30px;
  color: var(--primary);
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

input {
  width: 100%;
  margin-top: 5px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%;
  margin: 10px 0 0 0;
}


